.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.travis.yml
lib/
docs/
hardware/pcb_art/

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.brd

# Eagle project file
eagle.epf
DESCRIPTION

# Gerber files
*.GBL
*.GBO
*.zip
*.GBS
*.GML
*.GTL
*.GTO
*.GTS
*.TXT
*.dri
*.gpi
